#mainTopic{
    color:blue;
}
*{
    text-align:center;
}
h1, h3, h5{
    font-style:Georgia;
}
#para{
    color:white;
    background-color:cornflowerblue;
}
div button{
    color:azure;
    background-color:purple;;
}

div>button:hover{
    color:blue;
    background-color:yellow;
}

/*if you give p it won't change because of specificity*/
#para:nth-of-type(2n){
    color:yellow;
}
h1::first-letter{
    color:red;
}
input[type="checkbox"]:checked +label{
    color:darkgreen;
}